<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="styles.css" rel="stylesheet">
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="pallete.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="flash.html">FLASH!</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">CONTACT</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="info.html">INFO</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="faq.html">FAQ</a>
              </li>
            </ul>
            </div>
          </nav>
          <div class="title">
            <h1>
              <u>Contact</u>
            </h1>
            <p>I charge $75/hr.<sup>*</sup> Total cost of pieces vary depending on size, location, and detail.
              After hearing your idea, I can give you a pricing estimate.<br>
              <sup>*</sup>I believe that everyone should be able to afford art and if pricing is an issue,
              let's talk, I would love to meet you where you are at.</r></p>
            <p></p>
          </div>
          <div class="form">
            <div class="names">
              <form action="/url" method="GET">
                <h5>name<sup>*</sup></h5>
                <input type="text">
                <input type="text">
                <p>first name <span class="tab"></span> last name</p>

              </form>
            </div>
              <form action="/url" method="GET">
                <h5>email<sup>*</sup></h5>
                <input type="text">
              </form>
              <form action="/url" method="GET">
                <h5>description of the piece.</h5>
                <input type="text">
                <p>please incude details sush as: size, placement, and what you're thinking.<br>
                please use as many words or pictures as you want to give me a clear idea!</p>
              </form>
              <form action="/url" method="GET">
                <h5>availability</h5>
                <input type="text">
                <p>Let me know which day/s you prefer to schedule! I am available every Sunday-Tuesday.</p>
              </form>
              <form action="/url" method="GET">
                <h5>budget</h5>
                <input type="text">
                <p>please provide me with your budget so that we can manage our expectations</p>
              </form>
              <input type="submit">
          </div>